<div class="start">
  <div>
    <div class="seek">
      <!-- TODO: Philip: Wie kann ich image nach h1 machen? -->
      <div class="image"></div>
      <h1>WG finden</h1>
    </div>
  </div>
  <div>
    <div class="reside">
      <div class="image"></div>
      <h1>WG anlegen</h1>
    </div>
  </div>
</div>
