<div class="start">

  <div class="quickbox seek">
    <!-- TODO: Philip: Wie kann ich image nach h1 machen? -->
    <div class="person-image"></div>
    <h1>WG finden</h1>
    <form>
      <ul>
        <li>
        <label><span>Alter</span>
            <input name="age" type="number" value="" required>
        </label>
        <li>
        <label><span>max. Miete</span>
            <input name="age" type="number" value="" required>
            <span>€</span>
        </label>
        <li>
          <a href="/search">Los!</a>
      </ul>
    </form>
  </div>

  <div class="quickbox reside">
    <div class="person-image"></div>
    <h1>WG anlegen</h1>
  </div>

</div>
