<form id="CreateUserWidgetForm">
  <p>
    <label>
      Name:
      <input type="text" name="name" placeholder="Vor- und Nachname" required/>
    </label>
    <br/>
    <label>
      Email:
      <input type="text" name="email" placeholder="E-Mail Adresse" required/>
    </label>
    <br/>
    <label>
      Geburtstag:
      <input type="date" name="bday" placeholder="Geburtstag" required/>
    </label>
    <br/>
    <label>
      Geschlecht:
      <input type="text" name="gender" placeholder="Männlein oder Weiblein" required/>
    </label>
    <br/>
    <label>
      Passwort:
      <input type="password" name="passwd" placeholder="Passwort" required/>
    </label>
    <br/>
    <label>
      Passwort (Kontrolle):
      <input type="password" name="duppedPasswd" placeholder="Passwort (zur Kontrolle)" required/>
    </label>
    <br/>
    <input type="submit"/>
  </p>
</form>
