<form id="LoginWidgetForm">

<em class="LoginLabel">Login:</em>
<label>
<!-- Email: -->
<input class="MiniInput" type="text" name="email" placeholder="E-Mail Adresse" required/>
</label>
<label>
<!-- Passwort: -->
<input class="MiniInput" type="password" name="password" placeholder="Passwort" required/>
</label>
<input class="MiniButton" type="submit" value="OK"/>
<a class="MiniRegister" href="/register/">Registrieren</a>
</form>