<form id="LoginWidgetForm">
<p>
<label>
Email: <input type="text" name="email" placeholder="E-Mail Adresse" required/>
</label>
<label>
Passwort: <input type="password" name="passwd" placeholder="Passwort" required/>
</label>
<input type="submit"/>
</p>
</form>
