<form id="LoginWidgetForm">
<b>Einloggen:</b>
<ul class="form">
  <ul class="form">
    <li>
      <label for="inputLoginEmail">E-Mail:</label>
      <input id="inputLoginEmail" type="text" name="email" placeholder="E-Mail-Adresse" required/>
    <li>
      <label for="inputLoginPassword">Passwort:</label>
      <input id="inputLoginPassword" type="password" name="password" placeholder="Passwort" required/>
  </ul>
  <li>  
    <input type="submit"/>
</ul>
</form>
