<form id="LogoutWidgetForm">
<p>
<div class="subwidget" data-type="profileInfo"></div>
Name: {{UserName}}<br/>
Email: {{UserEmail}}<br/>
<input type="submit" value="Logout" name="Logout"/>
</p>
</form>
