<form id="flatshare_form" method="POST" autocomplete="on">

    <datalist id="floornames">
        <option value="UG">
        <option value="EG">
        <option value="1. OG">
        <option value="2. OG">
        <option value="3. OG">
        <option value="4. OG">
        <option value="5. OG">
        <option value="6. OG">
        <option value="7. OG">
        <option value="8. OG">
        <option value="9. OG">
        <option value="10. OG">
    </datalist>
    <h2>WG</h2>
    <h3>Adresse</h3>

    <ul class="form">
        <li>

            <label>
                <span>Straße:</span>
                <input type="text" name="street-address" required>
                <span></span>
            </label>

        <li class="breakBefore">
            <label>
                <span>PLZ:</span>
                <input name="zip" type="text" pattern="[0-9]{5}" title="fünf Ziffern" required>
            </label>
            
        <li class="breakAfter">

            <label>
                <span>Ort:</span>
                <input name="city" type="text" required>
            </label>

        <li>
    
            <label>
                <span>Etage:</span>
                <input name="floor" type="text" list="floornames" required>
            </label>

        <li class="breakBefore">
            <input type="submit">
    </ul>

<!-- 
    <h3>Geolocation</h3>
    <ul class="form">
        <ul class="form">
            <li>
                <label for="geolocation_latitude">Latitude:</label>
                <input type="text" name="geolocation_latitude" id="geolocation_latitude" value="latitude" readonly>
            <li>
                <label for="geolocation_longitude">Longitude:</label>
                <input type="text" name="geolocation_longitude" id="geolocation_longitude" value="longitude" readonly>
        </ul>
    </ul>

    <br>

   <ul class="form">

        <li>
            <label for="smokingtolarance">Raucher:</label> 
            <select name="smokingtolarance" id="smokingtolarance">
                <option value="allowedInRoom">Erlaubt im Zimmer</option>
                <option value="allowedInFlat">Erlaubt in Wohnung</option>
                <option value="prohibited">Verboten</option>
            </select>

        <li>
            <label for="typeOfHouse">Haustyp:</label> 
            <select name="typeOfHouse" id="typeOfHouse">
                <option value="old">Altbau</option>
                <option value="new">Neubau</option>
                <option value="renovated">Renoviert</option>
            </select>

        <li>
    
            <label for="numberOfRooms">Anzahl der Zimmer:</label> 
            <input type="number" name="numberOfRooms" id="numberOfRooms" min=1 pattern="[1-9][0-9]*" title="Zahl" required>

    </ul>


    <div id="appliances" class="itemChoice">
        <ul class="potential">
            <li data-value="clothesWasher">Waschmaschine</li>
            <li data-value="dishWasher">Spülmaschine</li>
            <li data-value="tv">Fernseher</li>
            <li data-value="gameConsole">Spielkonsole</li>
        </ul>

        available
        <ul class="available">
        </ul>

        non-available
        <ul class="non-available">
        </ul>
    </div>
 
    <br>



    <input type="submit">
-->

</form>

