<div class="drop-target" style="width: 250px; height: 150px; margin: 10px;">

</div>
<div id="photoUploadInputField">
  <label for="file-select">Bilder auswählen</label>
  <input id="file-select" type="file" multiple name="image"></input>
</div>

<div class="clickable">Bilder hochladen</div>