<div class="current-images"></div>
<span class="drop-target" style="display:inline-block; width: 250px; height: 150px; margin: 10px;">

</span>
<div>
  <label for="file-select">Bilder auswählen</label>
  <input id="file-select" type="file" multiple name="image"></input>
</div>

<div class="clickable">Bilder hochladen</div>