<div>
	<div class="man"></div>
	<div class="girl"></div>
	<div class="door-container">
		<div class="door-frame">
			<div class="door">
				<div class="door-edge"></div>
			</div>
		</div>
	</div>
	<div class="door-front-shadow"></div>
</div>