#{extends 'main.html' /}
#{set title:'Registrieren' /}
#{set pageId:'register' /}

<h1>Registrieren</h1>

#{form @Registration.register(redirectUrl), id:'registration_form', enctype:'multipart/form-data'}
	<p>Wir brauchen noch zusätzliche Daten, damit du dich bei RoomR registrieren kannst.</p>

	<fieldset name="user">
		<legend>Benutzerdaten</legend>
		
		<ul>
			<li>
				#{field 'formData.name'}
					<label class="caption" for="${field.id}">Name</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
					<span class="error">${field.error}</span>
				#{/}
			</li>

			<li>
				#{field 'formData.email'}
					<label class="caption" for="${field.id}">E-Mail</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
					<span class="error">${field.error}</span>
				#{/}
			</li>
			
			<li>
				#{field 'formData.password'}
					<label class="caption" for="${field.id}">Passwort</label>
					<input id="${field.id}" name="${field.name}" type="password" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
					<span class="error">${field.error}</span>
				#{/}
			</li>

			<li>
				#{field 'formData.birthdate'}
					<label class="caption" for="${field.id}">Geburtsdatum</label>
					<input id="${field.id}" name="${field.name}" type="date" data-validate="${field.validationData}" value="${field.value?.format()}" class="${field.errorClass}">
					<span class="error">${field.error}</span>
				#{/}
			</li>
	
			<li>
				#{field 'formData.gender'}
					<label class="caption">Geschlecht</label>
					<ul class="inline_buttons">
						<li>
							<input id="${field.id}_male" name="${field.name}" type="radio" value="male" class="${field.errorClass}" ${formData.gender == models.common.Gender.male ? 'checked' : ''}>
							<label for="${field.id}_male" class="caption">Mann</label>
						</li>
						<li>
							<input id="${field.id}_female" name="${field.name}" type="radio" value="female" class="${field.errorClass}" ${formData.gender == models.common.Gender.female ? 'checked' : ''}>
							<label for="${field.id}_female" class="caption">Frau</label>
						</li>
					</ul>
					<span class="error">${field.error}</span>
				#{/}
			</li>
		</ul>
	</fieldset>
	
	<button type="submit">Registrieren!</button>
#{/form}
