@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic);

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }
a:focus { outline: thin dotted; }

header, footer {
	$text_color: $text_negative;
	
	color: $text_color;
	font-family: 'Ubuntu', sans-serif;
	
	a {
		color: mix($text_color, $primary, 90%);
		text-decoration: none;
	}
	a:visited {
		color: mix($text_color, $primary, 70%);
	}
	a:hover {
		color: mix($text_color, $primary, 50%);
	}
}


header {
	font-weight: bold;
	font-size: 18px;
	
	#login_status {
		float: right;
		
		font-size: 14px;	
		
		font-weight: normal;
		
		.username {
			font-weight: bold;
			margin-right: 10px;
		}
		
	}
	
	background-color: $primary;
	background-image: -moz-linear-gradient($primary, darken($primary, 10%));
	background-image: -webkit-linear-gradient($primary, darken($primary, 10%));
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
	font-size: 12px;

	background-color: $primary;
	background-image: -moz-linear-gradient(darken($primary, 10%), $primary);
	background-image: -webkit-linear-gradient(darken($primary, 10%), $primary);
}

/* CONTENT */

h1 {
	color: $primary;
	font-size: 25px;
	margin-top: 0;
}

#content, button, input, select, textarea {
	line-height: 130%;
	font-size: 12px;
	
	font-family: 'Ubuntu', sans-serif;
}

/* Don't display webkit's number select buttons, they don't quite fit... */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#content {
	$text_color: $text;
	
	color: $text;
		
	a { color: mix($text_color, $primary, 90%); }
	a:visited { color: mix($text_color, $primary, 70%); }
	a:hover { color: mix($text_color, $primary, 50%); }
	
	
	h1 {
		color: $primary;
		
		font-size: 25px;
		margin-top: 0;
	}

	
	
	/* FORMS */
	/** according to http://24ways.org/2009/have-a-field-day-with-html5-forms */
	
	form {
		
		/* THE FORM AND ITS FIELDSETS */
		
/* 		background: $primary_variant4; */
		background: $background;
		border: 1px solid #ddd;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		padding: 12px;
		
		fieldset {
			border : none;
			margin-bottom: 10px;
		}
		
				
		fieldset:last-of-type {
			margin-bottom: 0px;
		}
	
		legend {
			color: $text;
			font-size: 16px;
			font-weight: bold;
			padding-bottom: 10px;
			text-shadow: 0 1px 1px lighten($text, 50%);
		}
		
		/* counters not working properly... WHY? */
		/*> fieldset > legend:before {
			counter-increment: fieldsets;
			content: "Schritt " counter(fieldsets) ": ";
		}*/
		
		/* THE FIELDS */
		
		fieldset ul {
			margin: 0;
			padding: 0;

			list-style: none;
		}
		
		fieldset > ul > li {
			line-height: 30px;
			padding: 3px 6px;
			margin-bottom: 2px;
		}
		
	
		label.caption {
			display: inline-block;
			width: 120px;
		}
		
		
	
		/* error message that is returned by a request */ 
		span.error {
			font-size: 8pt;
			color: $secondary;
		}

		/* erroneous field that is returned by a request */ 
		input.hasError {
			border-color: $secondary;
		}
		
			
		input, textarea {
			background: #ffffff;
			border: 1px solid #888;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
			
			background-image: linear-gradient(bottom, rgb(255,255,255) 44%, rgb(243,243,243) 100%);
			background-image: -o-linear-gradient(bottom, rgb(255,255,255) 44%, rgb(243,243,243) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 44%, rgb(243,243,243) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 44%, rgb(243,243,243) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 44%, rgb(243,243,243) 100%);
			
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.44, rgb(255,255,255)),
				color-stop(1, rgb(243,243,243))
			);
						
			
			outline: none;
			padding: 5px;
			width: 200px;
	    }
	
		input:not([type=submit]):focus, textarea:focus {
			background: #eaeaea;
		}
	
		button {
			background: $primary_variant2;
			border: none;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-khtml-border-radius: 10px;
			border-radius: 10px;
			color: $text_negative;
			display: block;
			font-size: 14px;
			letter-spacing: 1px;
			margin: auto;
			padding: 7px 25px;
			text-shadow: 0 1px 1px #000000;
			text-transform: uppercase;
		}
		
		button:hover {
			background: $primary;
			cursor: pointer;
		}
		
		
		input.age {
			width: 20px;
		}
	}
	
	
	
	ul.inline_buttons {
		list-style: none;
		
		/* the list should appear next to the label, not below it */
		display: inline;
		
		li {
			/* we want a horizontal list */			
			display: inline;	
			padding-right: 20px;
		
			/* the caption label for the checkboxes should have a default width, not the one from the normal caption labels */			
			label  {
				width: auto;
			}

			/* drop the input elements down a little, so that they appear next to the text */
			input[type='checkbox'], input[type='radio'] {
				position: relative;
				top: 3px;
			}
		}	
	}

}
