
	
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }
a:focus { outline: thin dotted; }

footer, header {
	$text_color: $text_negative;
	
	color: $text-color;
	
	font-family: Arial,sans-serif;
	
	
	a { color: mix($text_color, $primary, 90%); }
	a:visited { color: mix($text_color, $primary, 70%); }
	a:hover { color: mix($text_color, $primary, 50%); }
}


header {
	font-weight: bold;
	font-size: 18px;
}


/* CONTENT */

#content, button, input, select, textarea {
	line-height: 130%;
	font-size: 14px;
	
	font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
	$text_color: $text;
	
	color: $text-color;
		
	a { color: mix($text_color, $primary, 90%); }
	a:visited { color: mix($text_color, $primary, 70%); }
	a:hover { color: mix($text_color, $primary, 50%); }
	
	
	h1 {
		font-family: Arial;
		color: $primary;
		
		font-size: 25px;
		margin-top: 0;
	}

	
	
	/* FORMS */
	/** according to http://24ways.org/2009/have-a-field-day-with-html5-forms */
	
	form {
		
		/* THE FORM AND ITS FIELDSETS */
		
		background: $primary_variant4;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 20px;
		width: 500px;
		
		fieldset {
			border : none;
			margin-bottom: 10px;
		}
	
		legend {
			color: $text;
			font-size: 16px;
			font-weight: bold;
			padding-bottom: 10px;
			text-shadow: 0 1px 1px lighten($text, 50%);
		}
		
		/* counters not working properly... WHY? */
		/*> fieldset > legend:before {
			counter-increment: fieldsets;
			content: "Schritt " counter(fieldsets) ": ";
		}*/
		
		/* THE FIELDS */
		
		fieldset ul {
			margin: 0;
			padding: 0;
		}
		
		fieldset > ul > li {
			background: rgba(255, 255, 255, .3);
			border-color: rgba(255, 255, 255, .6);
			border-style: solid;
			border-width: 2px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			line-height: 30px;
			list-style: none;
			padding: 5px 10px;
			margin-bottom: 2px;
		}
		
	
		label.caption {
			display: inline-block;
	/* 		text-align: right; */
			
	/* 		font-weight: bold; */
			width: 120px;
		}
		
		
			
		input, textarea {
			background: #ffffff;
			border: none;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			-khtml-border-radius: 3px;
			border-radius: 3px;
			
			font-style: italic;
			outline: none;
			padding: 5px;
			width: 200px;
	    }
	
		input:not([type=submit]):focus, textarea:focus {
			background: #eaeaea;
		}
	
		button {
			background: $primary_variant2;
			border: none;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			color: $text_negative;
			display: block;
			font-size: 14px;
			letter-spacing: 1px;
			margin: auto;
			padding: 7px 25px;
			text-shadow: 0 1px 1px #000000;
			text-transform: uppercase;
		}
		
		button:hover {
			background: $primary;
			cursor: pointer;
		}
		
		
		input.age {
			width: 20px;
		}
	}
	
	
	
	/* error messages in forms */
	/* error message that is returned by a request */ 
	span.error {
		font-size: 8pt;
		color: $secondary;
	}
	/* error message that is generated by JQValidate */
	label.error {
		font-size: 8pt;
		color: red;
		
		display: inline-block;
		margin-left: 5px;
		
	}
	
	/* erroneous fields in forms */
	/* erroneous field that is returned by a request */ 
	input.hasError {
		background-color: $secondary;
		color: $text_negative;
	}
	/* erroneous field that is marked by JQValidate */ 
	input.error {
		background-color: $secondary;
		color: $text_negative;
	}
	
	
	
	
	#gendersSelect {
		ul {
			list-style: none;
			
			/* the list should appear next to the label, not below it */
			display: inline;
			
			li {
				/* we want a horizontal list */			
				display: inline;	
				padding-right: 20px;
			
				/* the caption label for the checkboxes should have a default width, not the one from the normal caption labels */			
				label  {
					width: auto;
				}
	
				/* drop the input elements down a little, so that they appear next to the text */
				input {
					position: relative;
					top: 3px;
				}
			}
		
		}	
	}

}