$content-width: $overall-width - 2 * $content-padding;

html {  
	/* force the scrollbar, so that content does not jump when changing pages */
	overflow-y: scroll;
}

/* more info on using the body tag to change site width here: http://www.sitepoint.com/styling-the-html-and-body-elements/ */
body {
	background-color: $background;
}

header, footer {
	padding: 10px;
}

header {
	border-bottom: 1px solid #555555;
	position: relative;
	z-index: 10;
}

footer {
	border-top: 1px solid #555555;
	z-index: 9;
}

.container {
	width: $content-width;
	margin: 0 auto;
}

#content {
	min-height: 100%;
	padding: $content-padding;
}
