$content-width: $overall-width - 2 * $content-padding;

html {  
	/* force the scrollbar, so that content does not jump when changing pages */
	overflow-y: scroll;
}

/* more info on using the body tag to change site width here: http://www.sitepoint.com/styling-the-html-and-body-elements/ */
body {
	background-color: $background;
}

header, footer {
	width: $content-width;
	margin: auto;
	
	padding: $content-padding;
	padding-top: 10px;
	padding-bottom: 10px;
	
	background-color: $primary;
}

header {
	border-bottom: 1px solid #555555;
}

footer {
	border-top: 1px solid #555555;
}


#content {
	width: $content-width;
	margin: auto;
	min-height: 100%;
	padding: $content-padding;
	
	background-color: white;
}
