#create_offer {

#ageRangeSelect {
	.slider {
		display: inline-block;
		width: 200px;
		margin-left: 30px;
	}
}

#map_canvas {
	float: right;
	width: 400px;
	height: 400px;	
}

.streetnumber {
	width: 30px;
}

.postal-code {
	width: 40px;
}

.locality {
	width: 180px;
}

}