#{extends 'main.html' /}
#{set title:'Start' /}
#{set pageId:'main_page' /}

<div id="seeker_panel">
    <p>#{a @Search.searchForm('München')}Du suchst ein WG-Zimmer in München?#{/a}</p>
</div>
<div id="offerer_panel">
    <p>#{a @Offers.offerForm()}Du willst einen neuen Mitbewohner finden?#{/a}</p>
</div>
<div style="margin-top: 100px;">
	<p>#{a @Offers.viewAll()}Display all offers#{/a}</p>
	<p>#{a @Users.viewAll()}Display all users#{/a}</p>
	#{if user != null}
	<p>#{a @Dashboard.view()}Dashboard#{/a}</p>
	#{/if}
</div>

