@(age: Integer, gender: models.common.Gender)

@main(title = "Start", pageId = "main_page"){

<div id="page_info">
	<h1>Finde noch heute ein WG-Zimmer!</h1>
	<h2>RoomR findet eine zu dir passende WG, einfach und schnell.</h2>
</div>

<div id="seeker_panel">
   	<form action="routes.Search.searchForm()">
   		<fieldset>
	   		<input type="hidden" name="city" value="München">
	   		<ul>
	   			<li>
		    		<label for="max_rent">max. Miete</label>
					<input id="max_rent" name="max_rent" type="text" />
				</li>
				<li>
		    		<label for="age">Dein Alter</label>
					<input id="age" name="age" type="text" value="${age}"/>
				</li>
				<li>
					<ul id="genders_select" class="inline_buttons">
						<li>
							<label for="gender_male" class="caption">Mann</label>
							<input id="gender_male" name="gender" type="radio" value="male" @{if(gender == models.common.Gender.male) "checked" else ""} >
						</li>
						<li>
							<label for="gender_female" class="caption">Frau</label>
							<input id="gender_female" name="gender" type="radio" value="female" @{if(gender == models.common.Gender.female) "checked" else ""} >
						</li>
					</ul>
				</li>
				<li>
					<button>Zimmer suchen</button>
				</li>
			</ul>
		</fieldset>
   	</form>
</div>
<div id="offerer_panel">
	<form action="@routes.Offers.offerForm()">
   		<fieldset>
	   		<ul>
				<li>
					<button>Zimmer anbieten</button>
				</li>
			</ul>
		</fieldset>
   	</form>
</div>

<div style="margin-top: 200px;">
	<p><a href="@routes.Offers.viewAll()">Alle Angebote anzeigen</a></p>
	<p><a href="routes.Users.viewAll()">Alle Benutzer anzeigen</a></p>
</div>

}