<form id="LoginWidgetForm">
<p>
<label>
Login: <input type="text" placeholder="Benutzername oder E-Mail"/>
</label>
<label>
Passwort: <input type="password" placeholder="Passwort"/>
</label>
<input type="submit"/>
</p>
</form>
