@**
A multi-select for enum values, that uses the @enum tag in order to print the option label for each enum. The option value is the enum itself.
*@
@(field: play.api.data.Field, items: List[_ <: Object], args: (Symbol,Any)*)

<ul class="inline_buttons">
	@for(option <- items) {
	    <li>
	    	<input id="@{field.id + '_' + option}" name="@field.name" type="checkbox" value="@option" @{if(field.value.exists(_.equals(option))) "checked" else ""}>
			<label for="@{field.id + '_' + option}" class="caption">@enum(option)</label>
	    </li>
	}
</ul>