*{ Display an offer with a rank }*

%{
	score = _offer.matchingScore;
	roomDetails = _offer.offer.roomDetails;
	flatshare = _offer.offer.flatshare;
	criteria = _offer.offer.criteria;
}%

<div>
	<div class="score${_offer.matchingScore.defined ? '' : ' undefined'}">${score}</div>
	<div class="criteria_tooltip">
		<div class="met_criteria">
		met criteria: ${_offer.metCriteria}
		</div>
		
		<div class="unmet_criteria">
		unmet criteria: ${_offer.unmetCriteria}
		</div>
		
		<div class="undefined_criteria">
		undefined criteria: ${_offer.undefinedCriteria}
		</div>
	</div>
	
	<div class="location">
		<div class="address">#{address flatshare.address /}</div>
		<div class="map">
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=${flatshare?.geoLocation?.latitude},${flatshare?.geoLocation?.longitude}&markers=${flatshare?.geoLocation?.latitude},${flatshare?.geoLocation?.longitude}&zoom=14&size=100x100&sensor=false"
				alt="Das Angebot auf einer Karte" width="100" height="100" />
		</div>
	</div>
	
	<div class="total_rent">#{money roomDetails.totalRentPerMonth /}</div>
	
	<div class="details">
		Zimmergröße:&nbsp;${roomDetails.roomSize}
	</div>
	
	<div class="flatshare">
		<div>Stockwerk: ${flatshare.floor}</div>
		<div>Rauchen: ${flatshare.smokingTolerance}</div>
	</div>

	
	<div class="criteria">
		<div>gewünschtes Alter: #{ageRange criteria.ageRange /}</div>
		<div>gewünschtes Geschlecht: #{genders criteria.genders /}</div>
	</div>
	
	#{if _user?.appliedFor(_offer.offer)}
	<div class="application_note">Bew.</div>
	#{/if}
</div>