@import "nib/positions"

// hide file upload widget if the browser supports Drag&Drop
html
  &.draganddrop .widget[data-type="photoUpload"] .fileUploadField
    display none
  &.no-draganddrop .widget[data-type="photoUpload"] .drop-target
    display none

// specific styling for the photo upload widget
.widget[data-type="photoUpload"]
  .current-image
    display inline-block
    position relative
    img
      margin 10px
    span
      display none
      width 64px
      height 64px
      absolute top 15px right 15px
      background url('/src/style/img/delete_overlay.png') no-repeat

    &:hover
      span
        display block

  .drop-target
    display inline-block
    width 250px
    height 150px
    margin 10px