@import "nib/positions"

// specific styling for the start widget
.widget[data-type="start"]
  border none
  box-shadow none
  background none

  .man, .girl
    width 300px
    height 200px

  .man
    float left
    background-image url(src/style/img/man.png)
    background-position top center
    background-repeat no-repeat

  .girl
    float left
    background-image url(src/style/img/girl.png)
    background-position top center
    background-repeat no-repeat

  .door-container
    float left
    width 240px
    height 320px
    margin auto
    transform-style preserve-3d
    perspective 800px

  .door
    box-shadow 3px 2px 15px rgba(0, 0, 0, 0.6)
    width 163px
    height 260px
    background-image url(src/style/img/door_clean.png)
    background-position top center
    background-repeat no-repeat

    transform-origin 0 50% 0
    transform rotateY(-15deg)

    transition all 1s ease-in-out

  .door-container:hover
    .door
      transform rotateY(-75deg)
      box-shadow none
