@(formData: Form[controllers.formdata.OfferFormData], genders: List[models.common.Gender],
  floors: List[models.common.Floor], smokingTolerances: List[models.flatshare.SmokingTolerance],
  typesOfHouse: List[models.flatshare.TypeOfHouse], appliances: List[models.flatshare.Appliance],
  additionalSpaces: List[models.flatshare.AdditionalSpace])
@import helper._
@import tags._

@implicitField = @{ FieldConstructor(RoomrFieldConstructorTemplate.f) }

@inputNumber(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) = {
	@input(field, args:_*) { (id, name, value, htmlArgs) =>
	    <input type="number" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
	}
}
@inputHidden(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) = {
	<input type="hidden" id="@field.id" name="@field.name" value="@field.value" @toHtmlArgs(args.toMap)>
}

@main(title = "Anzeige anlegen", pageId = "create_offer"){

<div id="maps">
	<div id="map_canvas"></div>
	<div id="street_view_canvas">
		<div class="disabled_overlay"></div>
	</div>
	<div id="street_view_error"></div>
</div>

@form(action = routes.Offers.createOffer(), 'id -> "create_offer_form"){
	<fieldset name="seeker criteria">
		<legend>Wen suchst du?</legend>
		<ul>
			<li>
				<label class="caption">Geschlecht</label>
				@enumMultiSelect(formData("genders"), genders)
			    @formData("genders").errors().map { error =>
			        <span class="error">@Messages(error.message)</span>
			    }
			</li>
		
			<li id="ageRangeSelect">
				<label class="caption">Alter</label>
				@inputNumber(formData("minAge"))
				&nbsp;&#8210;&nbsp;
				@inputNumber(formData("maxAge"))
			</li>
		</ul>
	</fieldset>

	<fieldset name="flatshare">
		<legend>Deine WG</legend>
		<fieldset name="address" class="adr">
			<ul>
				<li>
				@inputText(formData("street"), '_label -> "Straße")
				@inputNumber(formData("streetNumber"), '_label -> "Nr.")
				</li>
				<li>
				@inputText(formData("zipCode"), '_label -> "PLZ")
				@inputText(formData("city"), '_label -> "Stadt")
				</li>
				<li>
				@defining(formData("displayStreetView")) { f =>
					<label class="caption">Street View</label>
					<ul class="inline_buttons" id="@f.id">
						<li>
							<label for="@{f.id}_true" class="caption">Anzeigen</label>
							<input id="@{f.id}_true" name="@f.name" type="radio" value="true" @{if(f.value()) "checked" else ""}>
						</li>
						<li>
							<label for="@{f.id}_false" class="caption">Verstecken</label>
							<input id="@{f.id}_false" name="@f.name" type="radio" value="false" @{if(f.value()) "" else "checked"}>
						</li>
					</ul>
				    @f.errors().map { error =>
			        	<span class="error">@Messages(error.message)</span>
			    	}
				}
				@inputHidden(formData("streetViewLat"))
				@inputHidden(formData("streetViewLng"))
				@inputHidden(formData("streetViewHeading"))
				@inputHidden(formData("streetViewPitch"))
				@inputHidden(formData("streetViewZoom"))
				</li>
			</ul>
			
			@inputHidden(formData("lat"))
			@inputHidden(formData("lng"))
		</fieldset>
		
		<ul>
			<li>
			@defining(formData("floor")) { f =>
				<label for="@f.id" class="caption">Stockwerk</label>
				@enumSelect(f, floors)
			    @f.errors().map { error =>
		        	<span class="error">@Messages(error.message)</span>
		    	}
			}
			</li>
			
			<li>
			@inputNumber(formData("numberOfRooms"), 'maxlength -> "2", '_label -> "Bewohnte Zimmer")
			</li>
			
			<li>
			@defining(formData("smokingTolerance")) { f =>
				<label for="@f.id" class="caption">Rauchen</label>
				@enumSelect(f, smokingTolerances)
			    @f.errors().map { error =>
		        	<span class="error">@Messages(error.message)</span>
		    	}
			}
			</li>
			
			<li>
			@defining(formData("typeOfHouse")) { f =>
				<label for="@f.id" class="caption">Haustyp</label>
				@enumSelect(f, typesOfHouse)
			    @f.errors().map { error =>
		        	<span class="error">@Messages(error.message)</span>
		    	}
			}
			</li>
			
			<li>
				<label class="caption">Gadgets</label>
				@enumMultiSelect(formData("appliances"), appliances)
			    @formData("appliances").errors().map { error =>
			        <span class="error">@Messages(error.message)</span>
			    }
			</li>
			
			<li>
				<label class="caption">Zusatzflächen</label>
				@enumMultiSelect(formData("additionalSpaces"), additionalSpaces)
			    @formData("additionalSpaces").errors().map { error =>
			        <span class="error">@Messages(error.message)</span>
			    }
			</li>
		</ul>
	</fieldset>
	
	<fieldset name="room details">
		<legend>Das Zimmer</legend>
		<ul>
			<li>
			@input(formData("totalRentPerMonthInEuro"), '_label -> "Gesamtmiete / Monat") { (id, name, value, htmlArgs) =>
			    <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
			    <label for="@id">€</label>
			}
			</li>
			<li>
			@input(formData("depositInEuro"), '_label -> "Kaution") { (id, name, value, htmlArgs) =>
			    <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
			    <label for="@id">€</label>
			}
			</li>
			<li>
			
			@input(formData("roomSize"), '_label -> "Zimmergröße") { (id, name, value, htmlArgs) =>
			    <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
			    <label for="@id">m²</label>
			}
			</li>
			
			<li id="free_period_select">
				<label class="caption">Zeitraum</label>
				@inputDate(formData("freeFrom"), '_label -> "")
				&nbsp;&#8210;&nbsp;
				@inputDate(formData("freeTo"), '_label -> "")
			</li>
		</ul>
	</fieldset>
	
	<fieldset name="description">
		<legend>Beschreibung</legend>
		<ul>
			<li>
			@textarea(formData("description"), '_label -> "", 'placeholder -> "Schreib was über deine WG!")
			</li>
		</ul>
	</fieldset>
	
	<fieldset name="contact data">
		<legend>Deine Kontaktdaten</legend>
		<ul>
			<li>
			@inputText(formData("email"), '_label -> "Deine Email")
			</li>
		</ul>
	</fieldset>
	
	<button type="submit">Anzeige einstellen!</button>
}

}