#{extends 'main.html' /}
#{set title:'Anzeige anlegen' /}
#{set pageId:'create_offer' /}

<h1>Create offer</h1>

<div id="maps">
	<div id="map_canvas"></div>
	<div id="street_view_canvas"></div>
</div>

#{form @Offers.createOffer(), id:'create_offer_form'}
	<fieldset name="seeker criteria" class="step">
		<legend>Wen suchst du?</legend>
		<ul>
			<li>
				#{field 'offer.criteria.genders'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				<ul class="gendersSelect">
					<li>
						<label for="${field.id}_male" class="caption">&{'genders.male'}</label>
						<input id="${field.id}_male" name="${field.name}" type="checkbox" value="male" class="${field.errorClass}" ${offer.criteria.genders.contains(models.common.Gender.male) ? 'checked' : ''}>
					</li>
					<li>
						<label for="${field.id}_female" class="caption">&{'genders.female'}</label>
						<input id="${field.id}_female" name="${field.name}" type="checkbox" value="female" class="${field.errorClass}" ${offer.criteria.genders.contains(models.common.Gender.female) ? 'checked' : ''}>
					</li>
				</ul>
				<span class="error">${field.error}</span>
				#{/}
			</li>
		
			<li id="ageRangeSelect">
			#{field 'offer.criteria.ageRange'}
				<label class="caption">&{field.name}</label>
				#{field 'offer.criteria.minAge.years'}
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="age ${field.errorClass}">
				#{/}
				&nbsp;&#8210;&nbsp;
				#{field 'offer.criteria.maxAge.years'}
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="age ${field.errorClass}">
				#{/}
				<span class="error">${field.error}</span>
			#{/}
			</li>
		</ul>
	</fieldset>

	<fieldset name="flatshare" class="step">
		<legend>Deine WG</legend>
		<fieldset name="address" class="adr">
			<ul>
				<li>
				#{field 'offer.flatshare.address.street'}
					<label for="${field.id}" class="caption">&{field.name}</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} street">
					<span class="error">${field.error}</span>
				#{/}
				#{field 'offer.flatshare.address.streetNumber'}
					<label for="${field.id}">&{field.name}</label>
					<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} streetnumber">
					<span class="error">${field.error}</span>
				#{/}
				</li>
				<li>
				#{field 'offer.flatshare.address.zipCode'}
					<label for="${field.id}" class="caption">&{field.name}</label>
					<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} postal-code">
					<span class="error">${field.error}</span>
				#{/}
				#{field 'offer.flatshare.address.city'}
					<label for="${field.id}">&{field.name}</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value ? field.value : 'München'}" class="${field.errorClass} locality">
					<span class="error">${field.error}</span>
				#{/}
				</li>
			</ul>
			
			#{field 'lat'}
				<input id="${field.id}" name="${field.name}" type="hidden">
			#{/}
			#{field 'lng'}
				<input id="${field.id}" name="${field.name}" type="hidden">
			#{/}
		</fieldset>
		
		<ul>
			<li>
			#{field 'offer.flatshare.floor'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				#{select 'offer.flatshare.floor', items:floors, value:2, id:'offer_flatshare_floor', class:'field' /}
				<span class="error">${field.error}</span>
			#{/}
			</li>
			
			<li>
			#{field 'offer.flatshare.smokingTolerance'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				#{select 'offer.flatshare.smokingTolerance', items:smokingTolerances, value:2, id:'offer_flatshare_smokingTolerance', class:'field' /}
				<span class="error">${field.error}</span>
			#{/}
			</li>
		</ul>
	</fieldset>
	
	<fieldset name="room details" class="step">
		<legend>Das Zimmer</legend>
		<ul>
			<li>
			#{field 'offer.roomDetails.totalRentPerMonthInEuro'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			#{/}
			</li>
			<li>
			#{field 'offer.roomDetails.roomSize.squareMeters'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			#{/}		
			</li>
		</ul>
	</fieldset>
	<button type="submit">Anzeige einstellen!</button>
#{/form}
