#{extends 'main.html' /}
#{set title:'Anzeige anlegen' /}
#{set pageId:'create_offer' /}

<h1>Create offer</h1>

<div id="maps">
	<div id="map_canvas"></div>
	<div id="street_view_canvas">
		<div class="disabled_overlay"></div>
	</div>
</div>

#{form @Offers.createOffer(), id:'create_offer_form'}
	<fieldset name="seeker criteria" class="step">
		<legend>Wen suchst du?</legend>
		<ul>
			<li>
				#{field 'formData.genders'}
				<label for="${field.id}" class="caption">&{'offer.criteria.genders'}</label>
				<ul class="gendersSelect">
					<li>
						<label for="${field.id}_male" class="caption">&{'genders.male'}</label>
						<input id="${field.id}_male" name="${field.name}" type="checkbox" value="male" class="${field.errorClass}" ${formData.genders.contains(models.common.Gender.male) ? 'checked' : ''}>
					</li>
					<li>
						<label for="${field.id}_female" class="caption">&{'genders.female'}</label>
						<input id="${field.id}_female" name="${field.name}" type="checkbox" value="female" class="${field.errorClass}" ${formData.genders.contains(models.common.Gender.female) ? 'checked' : ''}>
					</li>
				</ul>
				<span class="error">${field.error}</span>
				#{/}
			</li>
		
			<li id="ageRangeSelect">
				<label class="caption">&{'offer.criteria.ageRange'}</label>
				#{field 'formData.minAge'}
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="age ${field.errorClass}">
				#{/}
				&nbsp;&#8210;&nbsp;
				#{field 'formData.maxAge'}
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="age ${field.errorClass}">
				#{/}
				<span class="error">${field.error}</span>
			</li>
		</ul>
	</fieldset>

	<fieldset name="flatshare" class="step">
		<legend>Deine WG</legend>
		<fieldset name="address" class="adr">
			<ul>
				<li>
				#{field 'formData.street'}
					<label for="${field.id}" class="caption">&{'offer.flatshare.address.street'}</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} street">
					<span class="error">${field.error}</span>
				#{/}
				#{field 'formData.streetNumber'}
					<label for="${field.id}">&{'offer.flatshare.address.streetNumber'}</label>
					<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} streetnumber">
					<span class="error">${field.error}</span>
				#{/}
				</li>
				<li>
				#{field 'formData.zipCode'}
					<label for="${field.id}" class="caption">&{'offer.flatshare.address.zipCode'}</label>
					<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass} postal-code">
					<span class="error">${field.error}</span>
				#{/}
				#{field 'formData.city'}
					<label for="${field.id}">&{'offer.flatshare.address.city'}</label>
					<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value ? field.value : 'München'}" class="${field.errorClass} locality">
					<span class="error">${field.error}</span>
				#{/}
				</li>
				<li>
				#{field 'formData.displayStreetView'}
					<label for="${field.id}" class="caption">&{'offer.flatshare.mapParameters.displayStreetView'}</label>
					<input id="${field.id}" name="${field.name}" type="checkbox" class="${field.errorClass}" ${formData.displayStreetView ? 'checked' : ''}>
				#{/}
				#{field 'formData.streetViewHeading'}
					<input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}">
				#{/}
				#{field 'formData.streetViewPitch'}
					<input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}">
				#{/}
				#{field 'formData.streetViewZoom'}
					<input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}">
				#{/}
				</li>
			</ul>
			
			#{field 'formData.lat'}
				<input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}">
			#{/}
			#{field 'formData.lng'}
				<input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}">
			#{/}
		</fieldset>
		
		<ul>
			<li>
			#{field 'formData.floor'}
				<label for="${field.id}" class="caption">&{'offer.flatshare.floor'}</label>
				#{select 'formData.floor', items:floors, value:2, id:'offer_flatshare_floor', class:'field' /}
				<span class="error">${field.error}</span>
			#{/}
			</li>
			
			<li>
			#{field 'formData.smokingTolerance'}
				<label for="${field.id}" class="caption">&{'offer.flatshare.smokingTolerance'}</label>
				#{select 'formData.smokingTolerance', items:smokingTolerances, value:2, id:'offer_flatshare_smokingTolerance', class:'field' /}
				<span class="error">${field.error}</span>
			#{/}
			</li>
		</ul>
	</fieldset>
	
	<fieldset name="room details" class="step">
		<legend>Das Zimmer</legend>
		<ul>
			<li>
			#{field 'formData.totalRentPerMonthInEuro'}
				<label for="${field.id}" class="caption">&{'offer.roomDetails.totalRentPerMonthInEuro'}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			#{/}
			</li>
			<li>
			#{field 'formData.roomSize.squareMeters'}
				<label for="${field.id}" class="caption">&{'offer.roomDetails.roomSize.squareMeters'}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			#{/}		
			</li>
		</ul>
	</fieldset>
	<button type="submit">Anzeige einstellen!</button>
#{/form}
