#{extends 'main.html' /}
#{set title:'Anzeige anlegen' /}

#{set 'moreScripts'}
    #{get 'moreScripts' /}
    
    *{TODO: remove the JQuery script again}*
    #{script 'libs/jquery-1.6.2.min.js' /}
    #{script 'libs/play-jqvalidate.min.js' /}
#{/set}


<h1>Create offer</h1>
#{jqvalid.form @Offers.createOffer(), id:'create_offer_form'}
	<fieldset id="location" class="step">
		#{jqvalid.field 'offer.location.quarter'}
		<div class="field">
			<label for="${field.id}" class="caption">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</div>
		#{/}
	
		<fieldset id="address">
			#{jqvalid.field 'offer.location.address.street'}
			<div class="field">
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</div>
			#{/}
			#{jqvalid.field 'offer.location.address.streetNumber'}
			<div class="field">
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</div>
			#{/}
			#{jqvalid.field 'offer.location.address.zipCode'}
			<div class="field">
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</div>
			#{/}
			#{jqvalid.field 'offer.location.address.city'}
			<div class="field">
				<label for="${field.id}" class="caption">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</div>
			#{/}
		</fieldset>
	</fieldset>
	<fieldset id="roomDetails" class="step">
		#{jqvalid.field 'offer.roomDetails.freePeriodStart'}
		<div class="field">
			<label for="${field.id}" class="caption">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</div>
		#{/}
		#{jqvalid.field 'offer.roomDetails.freePeriodEnd'}
		<div class="field">
			<label for="${field.id}" class="caption">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</div>
		#{/}
		#{jqvalid.field 'offer.roomDetails.rent'}
		<div class="field">
			<label for="${field.id}" class="caption">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</div>
		#{/}
	</fieldset>
	<input type="submit">
#{/jqvalid.form}
