#{extends 'main.html' /}
#{set title:'Angebot ' + offer.id /}
#{set pageId:'view_offer' /}

*{ Display an offer with a rank }*

%{
	roomDetails = offer.roomDetails;
	flatshare = offer.flatshare;
	criteria = offer.criteria;
}%

<div class="offer">
	
		
	<div class="flatshare">
		<h2>die WG</h2>
		<div class="address">#{address flatshare.address /}</div>
		<div class="street_map"></div>
		<div class="street_view"></div>
		
		<div>&{'offer.flatshare.floor'}: ${flatshare.floor}</div>
		<div>&{'offer.flatshare.smokingTolerance'}: ${flatshare.smokingTolerance}</div>
	</div>
	
	<div class="total_rent">
		<h2>der Preis</h2>
		<p>
			&{'offer.roomDetails.totalRentPerMonthInEuro'}:&nbsp;#{money roomDetails.totalRentPerMonth /}
		</p>
	</div>
	
	<div class="details">
		<h2>das Zimmer</h2>
		<p>
			&{'offer.roomDetails.roomSize.squareMeters'}:&nbsp;${roomDetails.roomSize}
		</p>
	</div>


	
	<div class="criteria">
		<h2>die Anforderungen</h2>
		<div>&{'offer.criteria.ageRange'}: #{ageRange criteria.ageRange /}</div>
		<div>&{'offer.criteria.genders'}: #{genders criteria.genders /}</div>
	</div>

	#{if user == null || user.isSeeker()}	
	<button id="apply_button">Bewerben?</button>
	
	<div id="apply_dialog" title="Bewerbung verschicken" class="dialog">
		<div id="application_questions">
			<p>Die WG bittet dich, folgende Fragen zu beantworten:</p>
			<ol>
				<li>${offer.question}</li>
			</ol>
		</div>
		<form id="application_form">
			#{field 'application.message'}
				<label for="${field.id}" class="caption">&{field.name}</label>
				<textarea id="${field.id}" name="${field.name}" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}"></textarea>
				<span class="error">${field.error}</span>
			#{/}
			<button>Bewerben!</button>
		</form>
	</div>
	#{/if}
	
</div>