@(offer: models.offer.RoomOffer)

@main(title = "Angebot " + offer.id, pageId = "view_offer"){

*{ Display an offer with a rank }*

%{
	roomDetails = offer.roomDetails;
	flatshare = offer.flatshare;
	criteria = offer.criteria;
}%

<div class="offer clearfix">
	<div id="offer_info">
		<div class="flatshare">
			<h2>Die WG</h2>
			<div class="address">#{address flatshare.address /}</div>
			<div class="street_map"></div>
			<div class="street_view"></div>
			
			<div>Stockwerk: #{enum flatshare.floor /}</div>
			<div>Bewohnte Zimmer: ${flatshare.numberOfRooms}</div>
			<div>Rauchen: #{enum flatshare.smokingTolerance /}</div>
			<div>Haustyp: #{enum flatshare.typeOfHouse /}</div>
			<div>Gadgets: #{enumJoin flatshare.appliances /}</div>
			<div>Zusatzflächen: #{enumJoin flatshare.additionalSpaces /}</div>
		</div>
		
		<div class="total_rent">
			<h2>Der Preis</h2>
			<p>
				Gesamtmiete / Monat:&nbsp;#{money roomDetails.totalRentPerMonth /}
			</p>
			<p>
				Kaution:&nbsp;#{money roomDetails.deposit /}
			</p>
		</div>
		
		<div class="free_dates">
			<h2>Der Zeitraum</h2>
			<p>#{if roomDetails.freeTo == null}
				ab ${roomDetails.freeFrom.format('d. MMMM yyyy', 'de')}
				#{/if}
				#{else}
				${roomDetails.freeFrom.format('d. MMMM yyyy', 'de')}&nbsp;bis&nbsp;${roomDetails.freeTo.format('d. MMMM yyyy', 'de')}
				#{/else}
			</p>
		</div>
		
		<div class="details">
			<h2>Das Zimmer</h2>
			<p>
				Zimmergröße:&nbsp;${roomDetails.roomSize}
			</p>
		</div>
		
		<div class="criteria">
			<h2>Die Anforderungen</h2>
			<div>Alter: #{ageRange criteria.ageRange /}</div>
			<div>Geschlecht: #{genders criteria.genders /}</div>
		</div>
	
		<div class="description">
			<h2>Die Beschreibung</h2>
			<div><pre>${offer.description}</pre></div>
		</div>
	
		#{if user?.appliedFor(offer)}
			SCHON BEWORBEN
		#{/if}
		#{else}
			#{if user}
			#{form Applications.apply(offer.id), id:'application_form'}
				#{field 'application.message'}
					<label for="${field.id}" class="caption">Deine Nachricht an die WG:</label>
					<br />
					<textarea id="${field.id}" name="${field.name}" data-validate="${field.validationData}" class="${field.errorClass}">${field.value}</textarea>
					<span class="error">${field.error}</span>
				#{/}
				<button>Bewerben!</button>
			#{/form}
			#{/if}
			#{else}
				<p>Du musst dich einloggen, um dich für die WG zu bewerben.</p>
				<a href="#{loginUrl continue:request.path /}">Mit Google Account einloggen</a>
			#{/else}
		#{/else}
	</div>
	
	<div id="maps">
		<div id="map_canvas"
			data-center-lat="${flatshare.geoLocation.getLatitude()}"
			data-center-lng="${flatshare.geoLocation.getLongitude()}"></div>
		
		#{if offer.flatshare.streetViewParameters.displayStreetView}
		<div id="street_view_canvas"
			data-pos-lat="${flatshare.streetViewParameters.getStreetViewGeoLocation().getLatitude()}"
			data-pos-lng="${flatshare.streetViewParameters.getStreetViewGeoLocation().getLongitude()}"
			data-pov-heading="${flatshare.streetViewParameters.getStreetViewHeading()}"
			data-pov-pitch="${flatshare.streetViewParameters.getStreetViewPitch()}"
			data-pov-zoom="${flatshare.streetViewParameters.getStreetViewZoom()}"></div>
		#{/if}
		#{else}
			Street View wurde für diese Anzeige deaktiviert.
		#{/else}
	</div>
	
</div>

}