<form id="LogoutWidgetForm">

<div class="subwidget" data-type="profileInfo"></div>
<em class="LoginLabel"> Name: {{UserName}} Email: {{UserEmail}}</em> <input type="submit" class="MiniButton" value="Logout" name="Logout"/>

</form>
