<div style="height:400px;width:100%;" id="SearchResultMap"></div>
<div>
  <h3 style="display:none" id="routeTo">Route nach <span id="routeToTarget"></span></h3>
  <ul id="instructions">
  </ul>
</div>