<form id="create_offer_form" method="POST" autocomplete="on" class="reside">
    <h1>Wen suchst du?</h1>
    <fieldset name="seeker criteria">
        <ul>
            <li>
                <label><span data-bind="visible: gender">Geschlecht</span>
                    <label>
                        <span>
                            Männlich 
                            <input name="gender" type="radio" value="male" data-bind="checked: gender">
                        </span>
                    </label>
                    <label>
                        <span>
                            Weiblich 
                            <input name="gender" type="radio" value="female" data-bind="checked: gender">
                        </span>
                    </label>
                </label>
            </li>


            <div class="cleaner"></div>
            <li>
                <label><span>Alter</span>
                    Von  <input class="ageInput" data-bind="value: minAge" type="number"    
                          value="" required>
                    bis  <input class="ageInput" data-bind="value: maxAge" type="number"    
                          value="" required>
                </label>
            </li>
        </ul>
    </fieldset>

    <h1>Wo ist Deine WG?</h1>
    <fieldset name="flatshare">
        <fieldset name="address" class="adr">
            <ul>
                <li>
                    <label>
                        <span>Straße:</span>
                        <input type="text" name="street-address" class="street-address"
                            data-bind="value: street" type="text"
                         required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>PLZ:</span>
                        <input name="zip" type="text" pattern="[0-9]{5}" title="fünf Ziffern"
                        data-bind="value: zipCode" type="number"
                         class="postal-code" required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Ort:</span>
                        <input name="city" type="text" class="locality" 
                        data-bind="value: city" type="text" required>
                    </label>
                </li>

                <!--h3>Geolocation</h3>
                <ul class="form">
                    <li>
                        <label for="geolocation_latitude">Latitude:</label>
                        <input type="text" name="geolocation_latitude" id="geolocation_latitude" value="latitude" readonly>
                    <li>
                        <label for="geolocation_longitude">Longitude:</label>
                        <input type="text" name="geolocation_longitude" id="geolocation_longitude" value="longitude" readonly>
                </ul>


                <li>
                    <label class="caption">
                        <span>Street View</span>
                        <ul>
                            <li>
                                <label>
                                    <span>Anzeigen</span>
                                    <input name="displayStreetView" type="radio" value="true">
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span>Verstecken</span>
                                    <input name="displayStreetView" type="radio" value="false">
                                </label>
                            </li>
                        </ul>
                    </label>
                    <input name="streetViewLat" type="hidden">
                    <input name="streetViewLng" type="hidden">
                    <input name="streetViewHeading" type="hidden">
                    <input name="streetViewPitch" type="hidden">
                    <input name="streetViewZoom" type="hidden">
            </ul>
            <input name="lat" type="hidden">
            <input name="lng" type="hidden"-->
        
        </fieldset>
    <h1>Allgemeine Infos</h1>
        <fieldset>
            <ul>
                <li>
                    <label>Stockwerk</label>
                    <select data-bind="options: floorOptions, value: floor">
                    </select>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>Rauchen</label>
                    <select data-bind="options: smokingToleranceOptions, value: smokingTolerance">
                    </select>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Anzahl Zimmer</span>
                            <input type="text" data-bind="value: numberOfRooms" type="number"
                             required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>Haustyp</label>
                    <select data-bind="options: typeOfHouseOptions, value: typeOfHouse">
                    </select>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>Gadgets</label>
                    <select data-bind="options: gadgetOptions,  value: gadgets" size="5" multiple="true">
                    </select>
                </li>
            </ul>
        </fieldset>



    <h1>Über das Zimmer</h1>
        <fieldset>
            <ul>
                <li>
                    <label>
                        <span>Monatliche Miete</span>
                        <input data-bind="value: totalRentPerMonthInEuro" type="number"    
                        value="" required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Kaution</span>
                        <input data-bind="value: depositInEuro" type="number"    
                        value="" required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Größe des Zimmers</span>
                        <input data-bind="value: roomSize" type="number"    
                        value="" required>
                    </label>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Frei von </span>
                        <input class="ageInput" data-bind="value: freeFrom" type="date"    
                          value="" required>
                        bis
                        <input class="ageInput" data-bind="value: freeTo" type="date"    
                        value="" required>
                    </label>
                </li>
                <div class="cleaner"></div>
            </ul>
        </fieldset>



    <h1>Beschreibung und Kontakt</h1>
        <fieldset>
            <ul>
                <li>
                    <label>
                        <span>Schreib was über deine WG</span>
                    </label>
                    <textarea  data-bind="value: description">
                    </textarea>
                </li>
                <div class="cleaner"></div>
                <li>
                    <label>
                        <span>Deine Email</span>
                        <input data-bind="value: contactEmail" type="email"    
                          value="" required>
                </li>
                <div class="cleaner"></div>
        </fieldset>
    <button id="offerRoomSubmitButton" type="submit">Anzeige einstellen!</button>
</form>