<div class="person-image"></div>
<form id="search_offers_form">
  <ul class="form">
    <ul class="form">
      <li>
        <label>
          Mindestens&nbsp;
          <input data-bind="value: minRoomSizeSquareMeters, valueUpdate: 'afterkeydown'" type="text" size="4">
        </label> m² groß und
      <li>
        <label>
          maximal&nbsp;
          <input data-bind="value: maxRentPerMonthInEuro, valueUpdate: 'afterkeydown'" type="text"  size="4">
        </label> € Miete
    </ul>
    <ul class="form inline_buttons">
      und ab
      <li>
        <label>
          <input name="startDateType" data-bind="value: startDateType" value="now" type="radio"> sofort
        </label>
      <li>
        <input name="startDateType" data-bind="checked: startDateType" value="fixed_date" type="radio">
        <label>
          Datum
          <input id="startDate" data-bind="value: startDate" type="date">
        </label>
    </ul>
  </ul>

  <ul class="form">
    <li>
      <label>
        Alter
        <input data-bind="value: age, valueUpdate: 'afterkeydown'" type="number" size="3">
      </label>

    <ul id="genders_select" class="form inline_buttons">
      <span class="textual-icon male">&#9794;</span>
      <span class="textual-icon female selected">&#9792;</span>
      <li>
        <label>
          Mann
          <input name="gender" data-bind="checked: gender" value="male" type="radio">
        </label>
      <li>
        <label>
          Frau
          <input name="gender" data-bind="checked: gender" value="female" type="radio">
        </label>
    </ul>
  </ul>
</form>