<!-- TODO: Philip: Wie kann ich image nach h1 machen? -->
<h1>WG finden</h1>
<form>
  <ul>
    <li>
    <label><span>Alter</span>
        <input data-bind="value: age" type="number" value="" required>
    </label>
    <li>
    <label><span>max. Miete</span>
        <input data-bind="value: maxRentPerMonthInEuro" type="number" value="" required>
        <span>€</span>
    </label>
    <li>
      <a href="/search">Los!</a>
  </ul>
</form>
