<form id="search_offers_form">
  <ul class="form">
    <ul class="form">
      <li>
        <label for="minRoomSizeSquareMeters">Mindestens&nbsp;</label>
        <input id="minRoomSizeSquareMeters" name="searchData.minRoomSizeSquareMeters" type="text" size="4">
        m² groß und
      <li>
        <label for="maxRentPerMonthInEuro">maximal&nbsp;</label>
        <input id="maxRentPerMonthInEuro" name="searchData.maxRentPerMonthInEuro" type="text"  size="4">
        € Miete
    </ul>
    <ul class="form inline_buttons">
      und ab
      <li>
        <input id="startDateType_now" name="searchData.startDateType" value="now" type="radio">
        <label for="startDateType_now" >sofort</label>
      <li>
        <input id="startDateType_fixed_date" name="searchData.startDateType" value="fixed_date" type="radio">
        <label for="startDateType_fixed_date" class="caption">Datum</label>
        <input id="startDate" name="searchData.startDate" type="date">
    </ul>
  </ul>

  <ul class="form">
    <li>
      <label for="age">Alter</label>
      <input id="age" name="searchData.age" type="number" size="3">

    <ul id="genders_select" class="form inline_buttons">
      <li>
        <label for="gender_male">Mann</label>
        <input id="gender_male" name="searchData.gender" value="male" type="radio">
      <li>
        <label for="gender_female">Frau</label>
        <input id="gender_female" name="searchData.gender" value="female" type="radio">
    </ul>
  </ul>
</form>