#{extends 'main.html' /}
#{set title:'create offer' /}

#{set 'moreScripts'}
    #{get 'moreScripts' /}
    
    *{TODO: remove the JQuery script again}*
    #{script 'libs/jquery-1.6.2.min.js' /}
    #{script 'libs/play-jqvalidate.min.js' /}
#{/set}


<h1>Create offer</h1>
#{form @Offers.createOffer(), id:'createOfferForm'}
	<fieldset id="location" class="step">
		${offer}
	
		#{field 'offer.location.quarter'}
		<p>
			<label for="${field.id}">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</p>
		#{/}
	
		<fieldset id="address">
			#{field 'offer.location.address.street'}
			<p>
				<label for="${field.id}">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</p>
			#{/}
			#{field 'offer.location.address.streetNumber'}
			<p>
				<label for="${field.id}">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</p>
			#{/}
			#{field 'offer.location.address.zipCode'}
			<p>
				<label for="${field.id}">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="number" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</p>
			#{/}
			#{field 'offer.location.address.city'}
			<p>
				<label for="${field.id}">&{field.name}</label>
				<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
				<span class="error">${field.error}</span>
			</p>
			#{/}
		</fieldset>
	</fieldset>
	<fieldset id="roomDetails" class="step">
		#{field 'offer.roomDetails.freePeriodStart'}
		<p>
			<label for="${field.id}">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</p>
		#{/}
		#{field 'offer.roomDetails.freePeriodEnd'}
		<p>
			<label for="${field.id}">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</p>
		#{/}
		#{field 'offer.roomDetails.rent'}
		<p>
			<label for="${field.id}">&{field.name}</label>
			<input id="${field.id}" name="${field.name}" type="text" data-validate="${field.validationData}" value="${field.value}" class="${field.errorClass}">
			<span class="error">${field.error}</span>
		</p>
		#{/}
	</fieldset>
	<input type="submit">
	<input type="reset">
#{/form}
