@import "susy"

// SUSY STUFF
$total-columns  : 6              // a 12-column grid
$column-width   : 200px            // each column is 4em wide
$gutter-width   : 20px            // 1em gutters between columns
$grid-padding   : 10px  // grid-padding equal to gutters


@import "compass/reset"
@import "compass/utilities/general/clearfix"

@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/css3/background-clip"