#page.offerRoom
  header .reside
    +inverse($green1)

  #content

    h1
      font-size: 30px
      margin-top: 20px
      margin-bottom: 20px

    .ageInput
      width: 80px
    
    // TODO (Gernot) move this to base.sass or change li floating?
    .cleaner
      clear: both