#page.main
  
  #content
    .search-box
      +span-columns(3, 6)
      input
        width: 80px
      a
        margin-left: 30px
        display: inline-block

    .reside-box
      // secondary content spans the final 3 (omega) of 6 columns.
      +span-columns(3 omega, 6)

    .description
      +span-columns(6 omega, 6)

