@mixin box($background-color)
  +border-radius(20px)
  background-color: $background-color

  padding: 20px
  margin-bottom: 10px

@mixin button-link($text-color)
  display: inline-block
  padding: 5px 10px
  +box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5))
  border: 1px solid $grey
  +border-radius(5px)
  color: $text-color
  background-color: white


@mixin main-box($image, $light-color, $dark-color)
  +box($dark-color)
  color: white
  +single-box-shadow(rgba(0,0,0,0.5), 5px, 5px)
  +background(linear-gradient(top, $light-color, $dark-color), $dark-color)
  position: relative
  font-size: 1.5em
  font-family: 'Patua One'

  a
    +button-link($dark-color)

  // this is for the person image
  &:before
    content: ''
    width: image-width($image)
    height: image-height($image)
    +background(image-url($image) no-repeat)
    position: relative
    top: -45px
    left: -15px
    float: left

  h1
    // bigger font size for headings in boxes
    font-size: 1.8em

@mixin inverse($color)
  background: $color
  color: white
  +border-radius(5px)
  +single-box-shadow(rgba(0,0,0,0.5))

@import "base"
@import "header"
@import "footer"
@import "start"
@import "search"
@import "offerDetails"



@font-face
  font-family: 'Inika'
  font-style: normal
  font-weight: 400

*
  +box-sizing(border-box)

html
  background-image: image-url('cloth.jpg')
  // force scrollbar
  overflow-y: scroll

body
  font-size: 62.5%
  font-family: 'Inika'
  color: $text-color
  line-height: 2.3em

a
  text-decoration: none

#page
  +container
  // ENABLE THIS FOR COLUMN BACKGROUNDS
  // +susy-grid-background

#content
  +clearfix
  +span-columns(6 omega, 6)

  padding-top: 20px
  // this is required for not clipping the box shadows of content. Susy sets overflow to hidden
  overflow: visible

  font-family: 'Patua One'
  font-size: 1.5em
  line-height: 1.2em


form

  li
    float: left
    margin: 5px 0

  ul
    +clearfix

  label > span:first-child
    display: inline-block
    min-width: 100px
  label > span
    font-family: 'Patua One'

input, button
  background-color: white
  +box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5))
  border: 1px solid $grey
  +border-radius(5px)
  outline-style: none
  padding: 3px
  height: 30px

  &:focus
    +box-shadow(inset 0px 0px 5px 0px $blue1)


  &[type=submit],&[type=button] 
    border-width: 9px
    border-image: url(/images/border.png) 9 9 9 9 repeat repeat
    height: 45px
    background-clip: padding-box
    background-color: white

button
  padding: 3px 10px




h1
  margin-bottom: 0.5em
  font-size: 1.6em
  font-family: 'Patua One'

h2
  margin-bottom: 0.5em
  font-size: 1.3em
  font-family: 'Patua One'

.seek h1
  color: $blue1

.reside h1
  color: $green1


em
  background-color: white
  padding: 0.15em
  +border-radius(0.4em)
  +box-shadow(0 0 0.4em rgba(0,0,0,0.10))


.search-box
  +main-box('girl.png', $blue3, $blue1)

.reside-box
  +main-box('boy.png', $green3, $green1)



table.facts
  td:first-child
    padding-right: 1em
