@mixin box($image, $lightcolor, $darkcolor)
  color: white
  +border-radius(20px)
  +single-box-shadow(rgba(0,0,0,0.5), 5px, 5px)
  +background(linear-gradient(top, $lightcolor, $darkcolor), $darkcolor)
  padding: 20px
  position: relative
  font-size: 1.5em
  font-family: 'Patua One'

  a
    color: $darkcolor
    padding: 5px 10px
    background-color: white
    +box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75))
    border: 1px solid $grey
    +border-radius(5px)


  // this is for the person image
  &:before
    content: ''
    display: block
    width: image-width($image)
    height: image-height($image)
    +background(image-url($image) no-repeat)
    position: relative
    top: -45px
    left: -15px
    float: left

@mixin inverse($color)
  background: $color
  color: white
  +border-radius(5px)
  +single-box-shadow(rgba(0,0,0,0.5))

@import "base"
@import "header"
@import "start"
@import "search"



@font-face
  font-family: 'Inika'
  font-style: normal
  font-weight: 400

*
  +box-sizing(border-box)

html
  background-image: image-url('cloth.jpg')

body
  font-size: 62.5%
  font-family: 'Inika'

a
  text-decoration: none

#page
  +container
  // ENABLE THIS FOR COLUMN BACKGROUNDS
  // +susy-grid-background

#content
  +span-columns(6 omega, 6)
  font-size: 1.5em

  padding: 20px 0 0 0



form

  li
    // float: left
    margin: 5px 0

  ul
    // +clearfix

  label > span:first-child
    display: inline-block
    min-width: 100px
  label > span
    font-family: 'Patua One'

input, button
  background-color: white
  +box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75))
  border: 1px solid $grey
  +border-radius(5px)
  outline-style: none
  padding: 3px
  height: 30px

  &:focus
    +box-shadow(inset 0px 0px 10px 0px $blue1)


  &[type=submit],&[type=button] 
    border-width: 9px
    border-image: url(/images/border.png) 9 9 9 9 repeat repeat
    height: 45px
    background-clip: padding-box
    background-color: white

button
  padding: 3px 10px


h1
  margin-bottom: 20px
  font-size: 30px
  font-family: 'Patua One'






.seek-box
  +box('girl.png', $blue3, $blue1)

.reside-box
  +box('boy.png', $green3, $green1)
