@import "base"
@import "header"
@import "start"


@font-face
  font-family: ''
  font-style: normal
  font-weight: 400
  src: font-url("Inder-Regular.eot#") format("ignore me"), font-url("Inder-Regular.woff") format("woff"), font-url("Inder-Regular.ttf") format("truetype")


*
  +box-sizing(border-box)

html
  background-image: image-url('cloth.jpg')

a
  text-decoration: none
  color: $text-color


#page
  +container
  // ENABLE THIS FOR COLUMN BACKGROUNDS
  +susy-grid-background

#content
  +span-columns(6 omega, 6)

  padding: 20px 0 0 0

  > div:nth-child(1)
    +span-columns(3, 6)

  // secondary content spans the final 3 (omega) of 6 columns.
  > div:nth-child(2)
    +span-columns(3 omega, 6)
